*.zip
*.pcd
CMakeFiles
build
*.pj
*.obj
*.bin
*.exe
#*.dll
#!scintilla.dll
#!scilexer.dll
*.pdb
*.dmp
*.log
*.xlog
*.ilk
*.bsc
Sconscript.py
*.lib
*.tlog
*.sbr
*.cache
.vs
*.ipch
*.sdf
*.opensdf
*.opendb
*.suo
*.VC.db
*.unsuccessfulbuild
*.idb
Debug
Release
SConscript_sim.py
.sconsign.dblite
Debug.xml
*.dll_ren
*.pdb_ren
*.bak
*.orig
